
body{background:black;color:white;font-family:Segoe UI;text-align:center;}
button{padding:12px 25px;border-radius:25px;border:none;}
.fade{animation:fade 1.5s;}
@keyframes fade{from{opacity:0;}to{opacity:1;}}
.container{padding:40px;}
.center{margin-top:20vh;}
.beat{opacity:0;margin:20px;font-size:20px;}
.show{opacity:1;transition:1s;}
